@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=greek';
@import "customVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
$navbar-height: 60px;
$viewport-height: 91vh;

body {
    padding-top: $navbar-height;
    background-color: rgba(240, 240, 240, 0.84);
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.separator {
    height: 30px;
}

.nav-padding {
    padding-top: 9px;
    padding-bottom: 0;
}

.head {
  margin: 40px 0px 40px 0px;
}

.custom {
  padding: 20px;
  border: 0px;
  border-radius: 0px;
  border-top-style: solid;
  border-top-color: $brand-primary;
  border-top-width: 2px;
}

/*logo image for navbar*/
nav.navbar {
    height: $navbar-height;
    padding-left: 10px;

    .navbar-brand {
        padding-bottom: 0;
        padding-top: 0;
    }
  }

.content-nav {
  .active {
    text-decoration: underline;
    font-weight: bold;
  }
  margin-bottom: 20px;
  a {
    padding-right: 15px;
    cursor: pointer;
  }
}

.list-group-item:first-child,
.list-group-item:last-child {
    margin-bottom: 30px;
}

/*
MEDIA QUERIES

Very small screens
*/
@media screen and (max-width: $screen-sm) {

}

/*
Small screens
*/
@media screen and (max-width: $screen-md) and (min-width: $screen-sm) {

}

/*
Medium and Large screens
*/
@media screen and (min-width: $screen-md) {
}
