<div class="container">
  <div class="row site-head">
    <div class="col-md-2">
      <img src="img/default.jpg" alt="Some Image" class="img-responsive">
    </div>
    <div class="col-md-10">
      <h2>Programmes - Dr Who</h2>
      <p ng-if="users">This project has {{users.length}} users and 11 admins.</p>
      <p ng-if="loading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Calculating</p>
      <p ng-if="!users && !loading">No data available for users. This project has 11 admins.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Latest Content</h3>
      <div id="main-panel" class="custom panel panel-default">
         <nav class="content-nav">
           <a ng-class="{'active': query == 'my'}" ng-click="loadFiles('my')">My Content</a>
           <a ng-class="{'active': query == 'all'}" ng-click="loadFiles('all')">All</a>
           <a ng-class="{'active': query == 'pub'}" ng-click="loadFiles('pub')">Published</a>
         </nav>
         <p ng-if="loading" class="text-center"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading</p>
         <div ng-if="users" class="collapsible" id="file-list">
           <list-item ng-repeat="file in files | limitTo: limit" item="file" users='mapped'></list-item>
         </div>
         <div ng-if="!users && !loading" class="collapsible" id="file-list">
           <list-item ng-repeat="file in files | limitTo: limit" item="file" users='false'></list-item>
         </div>
         <a ng-if="collapsed" type="button" class="btn btn-primary btn-viewall" name="button" ng-click="viewAll(undefined)">View all content</a>
         <a ng-if="!collapsed" type="button" class="btn btn-primary btn-viewall" name="button" ng-click="viewAll(5)">Collapse</a>
      </div>
    </div>
    <div class="col-md-4 custom panel panel-default">
      <h3>File Types</h3>
      <type ng-repeat="one in types" type="one" index="$index"></type>
    </div>
  </div>
</div>
